  <footer class="w-100 mt-5">      
      <p class="text-center text-muted">&copy; Copyright 2022 EL ARFAOUI ZAKARIA</p>
      <script src="/js/bootstrap.min.js"></script>
      <script src="../../public/script/main.js"></script>
  </footer>
  </body>
</html>