  <footer class="copyright">      
      <p class="text-center text-muted">&copy; Copyright 2022 EL ARFAOUI ZAKARIA</p>
      <script src="/js/bootstrap.min.js"></script>
  </footer>
  </body>
</html>