<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../../public/style/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/fontawesome/css/all.min.css"
    />
    <title>Users Management System</title>
  </head>
  <body>
      <header class="mb-5">
        <div class="px-3 py-2 bg-dark text-white">
          <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
              <a href="/departments" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                Users Management System
              </a>
      
              <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                <li>
                  <a href="/departments" class="nav-link text-white">
                    <i class="bi d-block mx-auto mb-1 text-center fa fa-building fa-2x"></i>
                    Departments
                  </a>
                </li>
                <li>
                  <a href="/users" class="nav-link text-white">
                    <i class="bi d-block mx-auto mb-1 fa fa-users fa-2x"></i>
                    Users
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>
  </body>
</html>
