<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../../public/style/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/fontawesome/css/all.min.css"
    />
    <title>Users Management System</title>
  </head>
  <body>
    <header>
      <nav class="topnav mb-5">
        <div class="container">
          <a class="" href="/departments">Home</a>
          <a href="/departments">Departments</a>
          <a href="/users">Users</a>
        </div>
      </nav>
    </header>
  </body>
</html>
