<%- include('../layouts/header'); %>

<main>
  <div class="container">
    <table class="">
      <thead class="">
        <tr>
          <th scope="">Name</th>
          <th scope="">Description</th>
        </tr>
      </thead>
      <tbody>
          <td><%= department.dataValues.name %></td>
          <td><%= department.dataValues.description %></td>
      </tbody>
    </table>
  </div>
</main>

<%- include('../layouts/footer'); %>
