<%- include('../layouts/header'); %>

<main>
  <div class="container">
    <table class="">
      <thead class="">
        <tr>
          <th scope="">Name</th>
          <th scope="">Email</th>
          <th scope="">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= user.dataValues.name %></td>
          <td><%= user.dataValues.email %></td>
          <td>
            <i class="fas fa-edit"></i>
            <i class="fas fa-trash-alt"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>

<%- include('../layouts/footer'); %>
